*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{
	margin-top: 20px;
}
#container{
	width: 60%;
	margin: 0 auto;
}
.delete{
	color: red;
    font-size: 25px;
    font-weight: 900;
    float: left;
    margin: 15px 10px;
}
.form-control{
	width: 80%;
	margin: 15px 0;
	float: left;
}

.btn{
	width: 80%;
	margin: 10px 0;
}
